<ion-content class="ion-padding">
  <ion-card>
    @if (loading()) {
      <ion-spinner></ion-spinner>
    } @else if (restaurant() && restaurant().id != null && restaurant().id! > 0) {
      <restaurant-card [restaurant]="restaurant()"></restaurant-card>
    }
    <ol-map [coordinates]="coordinates()"></ol-map>
    <ion-footer>
      <ion-toolbar>
        @if (isActualUser()) {
          <ion-button
            slot="start"
            color="warning"
            [routerLink]="['/restaurants/edit', restaurant().id]">
            Editar
          </ion-button>
          <ion-button
            slot="end"
            color="danger"
            (click)="deleteRestaurant(restaurant().id!)">
            Eliminar
          </ion-button>
        }
        <ion-button
          slot="end"
          fill="clear"
          [routerLink]="['/restaurants']">
          Volver
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</ion-content>
